INSERT INTO Store (StoreName) VALUES ('Chick-fil-a')

INSERT INTO Employee (UserName,Password,FirstName,LastName,Email,Phone,StoreID,JobType,Status)
VALUES ('jport', 'COP4331', 'J', 'P', 'jp@gmail.com', '1234567890', 1, 0, 0)

SELECT *
FROM Store

SELECT *
FROM Employee