<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
  </system.web>  
	
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=184.168.194.64;uid=ContactUser;pwd=COP4331project1;database=ContactDB"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" />
	</startup>	
	
	<system.webServer>
	</system.webServer>

</configuration>